html {
  overflow-x:hidden;
}

body{
  margin: 0px auto;
  min-width: 980px;
  padding-top: 50px;
  background-color: #6fbcfe;
  overflow-x:hidden;
  position: relative;
}

p{
  margin: 0 0 20px 0;
  line-height: 26px;
}

h1, h2, h3 {
  font-family: 'Press Start 2P', cursive;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

h1 {
  font-size: 60px;
  text-shadow: 0px 5px 5px rgba(0,0,0,0.1);
}

h2 {
  font-size: 35px;
  text-shadow: 0px 5px 5px rgba(0,0,0,0.1);
}

h3 {
  font-size: 28px;
}


#nav{
  list-style: none;
  position: fixed;
  right: 20px;
}

#nav li{
  margin: 0 0 15px 0;
}

#header {
  width: 100%;
}


.trex {
  z-index: 0;
  position: relative;
  width: 638px;
  left: 50%;

  .image {
    position: absolute;
    top: -6px;
    left: -346px;
    background: url(../img/trex.png) no-repeat top center;
    width: 693px;
    height: 554px;
  }
}


#main {
  background:url(../img/building.png) no-repeat top center;
  pointer-events: none;
  height:5430px;
  padding-top: 560px;
  position: relative;
  z-index: 50;

  .content {
    width:548px;
    padding:10px;
    margin: 0px auto;
    margin-bottom: 600px;
    background-color: rgba(0,0,0,0.8);
  }

  .story {
    margin: 0 auto;
    overflow: auto;
    padding: 20px;
    color: #fff;
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
    border:1px solid #fff;
  }

  .columns {
    width: 1085px;
    margin: 0 auto;

    .content {
      width:515px;
    }
  }

  .rampage {
    background:url(../img/george.gif) no-repeat;
    width: 300px;
    height: 395px;
    position: absolute;
    left:250px;
    top:1082px;
  }
}

#windowPanes {
  position: absolute;
  top: 860px;
  left: 50%;
  margin-left: -259px;
  height: 2500px;
  width: 603px;
  .row {
    height: 90px;
    margin-bottom: 26px;
    position: relative;
    .pane {
      height: 100%;
      position: absolute;
      $leftColWidth: 71px;
      $leftColOffsetWidth: 91px;
      $rightColWidth: 65px;
      $rightColOffsetWidth: 83px;
      &.col0, &.col1, &.col2 {
        width: $leftColWidth;
      }
      &.col3, &.col4, &.col5, &.col6 {
        width: $rightColWidth;
      }
      &.col0 {
        left: 0;
        top: 12px;
      }
      &.col1 {
        left: $leftColOffsetWidth;
        top: 6px;
      }
      &.col2 {
        left: $leftColOffsetWidth * 2;
        top: 0;
      }
      &.col3 {
        right: $rightColOffsetWidth * 3;
        top: 0;
      }
      &.col4 {
        right: $rightColOffsetWidth * 2;
        top: 4px;
      }
      &.col5 {
        right: $rightColOffsetWidth;
        top: 8px;
      }
      &.col6 {
        right: 0;
        top: 12px;
      }
    }
  }
}
#paneContents {
  display: none;
}

#helloWorld {
  font-family: monospace;
  font-size: 12px;
  text-align: center;
  padding: 20px 0 0 2px;
}

#hatWobble {
  width: 100%;
  height: 100%;
  overflow: hidden;
  img {
    margin-left: -30px;
  }
}

.helicopter {
  background-image: url("../img/helicopter.gif");
  width: 67px;
  height: 45px;
  position: absolute;
}

#helicopter-0 {
  position: absolute;
  top: 300px;
  left: 1200px;
  // right: 50%;
  // margin-right: -300px;
}

#helicopter-1 {
  position: absolute;
  top: 400px;
  left: 300px;
  // right: 50%;
  // margin-right: -300px;
}

#helicopter-2 {
  position: absolute;
  z-index: -1;
  top: 250px;
  left: 800px;
  // right: 50%;
  // margin-right: -300px;
}
