html {
  overflow-x: hidden; }

body {
  margin: 0px auto;
  min-width: 980px;
  padding-top: 50px;
  background-color: #6fbcfe;
  overflow-x: hidden;
  position: relative; }

p {
  margin: 0 0 20px 0;
  line-height: 26px; }

h1, h2, h3, h4 {
  font-family: 'Press Start 2P', cursive;
  text-transform: uppercase;
  text-align: center;
  color: #fff; }
  h1 a, h2 a, h3 a, h4 a {
    text-decoration: underline;
    color: #fff; }
    h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited {
      color: fff; }

h1 {
  font-size: 60px;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1); }

h2 {
  font-size: 35px;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1); }

h3 {
  font-size: 28px; }

h4 {
  font-size: 50px; }
  h4 a {
    text-decoration: underline;
    color: red; }
    h4 a:visited {
      color: red; }

#nav {
  list-style: none;
  position: fixed;
  right: 20px; }

#nav li {
  margin: 0 0 15px 0; }

#header {
  width: 100%; }

.clouds {
  position: relative;
  z-index: -99; }
  .clouds .big {
    width: 104px;
    height: 39px;
    position: absolute;
    background: url(../img/cloud_1.png) no-repeat; }
  .clouds .small {
    width: 169px;
    height: 102px;
    position: absolute;
    background: url(../img/cloud_2.png) no-repeat; }

.fast {
  -webkit-animation: move 25s infinite linear;
  -moz-animation: move 25s infinite linear;
  -ms-animation: move 25s infinite linear; }
  .fast .cloud-1 {
    top: 20px; }
  .fast .cloud-2 {
    left: 200px;
    top: 280px; }
  .fast .cloud-3 {
    left: 600px;
    top: 480px; }
  .fast .cloud-4 {
    top: 860px; }
  .fast .cloud-5 {
    left: 200px;
    top: 1290px; }

.slow {
  -webkit-animation: move 60s infinite linear;
  -moz-animation: move 60s infinite linear;
  -ms-animation: move 60s infinite linear; }
  .slow .cloud-1 {
    top: 80px; }
  .slow .cloud-2 {
    left: 400px;
    top: 130px; }
  .slow .cloud-3 {
    left: 120px;
    top: 320px; }
  .slow .cloud-4 {
    left: 400px;
    top: 620px; }
  .slow .cloud-5 {
    top: 940px; }
  .slow .cloud-6 {
    left: 400px;
    top: 1600px; }

@-webkit-keyframes move {
  0% {
    left: -600px; }

  100% {
    left: 2000px; } }

@-moz-keyframes move {
  0% {
    left: -600px; }

  100% {
    left: 2000px; } }

@-ms-keyframes move {
  0% {
    left: -600px; }

  100% {
    left: 2000px; } }

@-webkit-keyframes blink {
  from {
    opacity: 1.0; }

  to {
    opacity: 0.0; } }

.blink {
  z-index: 99999;
  -webkit-animation-name: blink;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(1, 0, 0, 1);
  -webkit-animation-duration: 1s; }

.trex {
  z-index: 0;
  position: relative;
  width: 638px;
  left: 50%; }
  .trex .image {
    position: absolute;
    top: -6px;
    left: -346px;
    background: url(../img/trex.png) no-repeat top center;
    width: 693px;
    height: 554px; }

#main {
  background: url(../img/building.png) no-repeat top center;
  pointer-events: none;
  height: 4937px;
  padding-top: 560px;
  position: relative;
  z-index: 50; }
  #main .content {
    width: 700px;
    padding: 10px;
    margin: 0px auto;
    background-color: rgba(0, 0, 0, 0.8); }
  #main .content.intro {
    margin-bottom: 1010px; }
  #main .content.explain {
    margin-bottom: 600px; }
  #main .story {
    margin: 0 auto;
    overflow: auto;
    padding: 20px;
    color: #fff;
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
    border: 1px solid #fff; }
  #main .columns {
    width: 1085px;
    margin: 0 auto; }
    #main .columns .content {
      width: 515px; }
      #main .columns .content .story ul {
        list-style-type: none; }
        #main .columns .content .story ul li {
          margin: 20px 0px 35px 0px; }
          #main .columns .content .story ul li .time {
            font-size: 11px;
            color: rgba(255, 255, 255, 0.7);
            margin-bottom: 7px; }
          #main .columns .content .story ul li:last-child .time {
            text-align: center; }
          #main .columns .content .story ul li:last-child .title {
            font-size: 30px;
            text-align: center; }

#windowPanes {
  background-color: #bbb;
  position: absolute;
  top: 1035px;
  left: 50%;
  margin-left: -259px;
  height: 3000px;
  width: 603px; }
  #windowPanes .row {
    height: 90px;
    margin-bottom: 26px;
    position: relative; }
    #windowPanes .row .pane {
      height: 100%;
      position: absolute; }
      #windowPanes .row .pane.col0, #windowPanes .row .pane.col1, #windowPanes .row .pane.col2 {
        width: 71px; }
      #windowPanes .row .pane.col3, #windowPanes .row .pane.col4, #windowPanes .row .pane.col5, #windowPanes .row .pane.col6 {
        width: 65px; }
      #windowPanes .row .pane.col0 {
        left: 0;
        top: 12px; }
      #windowPanes .row .pane.col1 {
        left: 91px;
        top: 6px; }
      #windowPanes .row .pane.col2 {
        left: 182px;
        top: 0; }
      #windowPanes .row .pane.col3 {
        right: 249px;
        top: 0; }
      #windowPanes .row .pane.col4 {
        right: 166px;
        top: 4px; }
      #windowPanes .row .pane.col5 {
        right: 83px;
        top: 8px; }
      #windowPanes .row .pane.col6 {
        right: 0;
        top: 12px; }

#paneContents {
  display: none; }

#helloWorld {
  font-family: monospace;
  font-size: 12px;
  text-align: center;
  padding: 20px 0 0 2px; }

#hatWobble {
  width: 100%;
  height: 100%;
  overflow: hidden; }
  #hatWobble img {
    margin-left: -30px; }

.rampage {
  background: url(../img/george.gif) no-repeat;
  width: 300px;
  height: 395px;
  position: absolute;
  left: -131px;
  z-index: 99; }

.helicopter {
  background-image: url("../img/helicopter.gif");
  width: 67px;
  height: 45px;
  position: absolute;
  z-index: 100;
  cursor: pointer; }

#helicopter-0 {
  position: absolute;
  top: 300px;
  left: 1200px; }

#helicopter-1 {
  position: absolute;
  top: 400px;
  left: 300px; }

#helicopter-2 {
  position: absolute;
  top: 250px;
  left: 800px; }

.automatoon_wrapper {
  z-index: 1000; }

.tentacle, .tentacle1, .tentacle2, .tentacle3 {
  position: absolute;
  left: 50%;
  margin-left: -216px;
  z-index: 60; }

.tentacle1 {
  top: 1335px;
  height: 600px;
  width: 750px;
  background: url("../img/tentacle1.png") no-repeat; }

.tentacle2 {
  top: 1335px;
  height: 600px;
  width: 750px;
  background: url("../img/tentacle2.png") no-repeat; }

.tentacle3 {
  top: 1335px;
  height: 600px;
  width: 750px;
  background: url("../img/tentacle3.png") no-repeat; }

#scumbag-asteroid, #donkeycart, #cockroach {
  cursor: pointer; }

#sam-max-3 img {
  height: 90px;
  margin-left: -50px; }

.blinds-wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden; }

.blinds {
  position: absolute;
  bottom: 0px;
  left: 0px;
  cursor: pointer; }

.pterodactyl_wrapper {
  z-index: -100; }

#pane-5-4 {
  background-color: purple; }
  #pane-5-4 #small-trex {
    padding-top: 10px;
    cursor: pointer; }

#pane-5-5 {
  background-color: green; }
  #pane-5-5 #utahraptor {
    padding-top: 10px;
    cursor: pointer; }

#pane-5-6 {
  background-color: yellow; }
  #pane-5-6 #labdog {
    cursor: pointer; }

#underground {
  position: absolute;
  width: 100%;
  height: 412px;
  bottom: 400px;
  left: 0px;
  pointer-events: auto;
  z-index: 10000; }
  #underground .content {
    width: 800px;
    background-color: transparent;
    position: relative; }
  #underground .inner {
    overflow: hidden;
    position: absolute;
    cursor: pointer;
    width: 570px;
    height: 333px;
    right: 0px;
    top: 0px;
    z-index: 100;
    background: url(../img/sq-bg.png) no-repeat -70px center; }

.wilco {
  width: 28px;
  height: 66px;
  background-image: url(../img/wilco.png);
  background-repeat: no-repeat; }

#text-entry {
  padding: 20px 5%;
  width: 90%;
  background: black;
  background-color: rgba(0, 0, 0, 0.85);
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 100000;
  color: #fff;
  font-family: 'Courier New', Courier, 'Andale Mono', monospace;
  font-weight: bold;
  font-size: 20px; }
  #text-entry input {
    -webkit-appearance: none;
    background: none;
    color: #fff;
    border: none;
    outline: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    font-family: 'Courier New', Courier, 'Andale Mono', monospace;
    font-weight: bold;
    font-size: 20px;
    margin: 0 1%;
    width: 96%; }

#messages {
  display: none; }

#message-box {
  width: 100%;
  height: 100%;
  top: 50%;
  left: 0;
  position: fixed;
  z-index: 10000;
  text-align: center; }
  #message-box .message-body {
    width: 450px;
    padding: 25px;
    outline: 5px solid #fff;
    border: 2px solid #c1272d;
    background: #fff;
    background-color: rgba(255, 255, 255, 0.97);
    margin: 0 auto;
    font-family: 'Courier New', Courier, 'Andale Mono', monospace;
    font-weight: bold; }
    #message-box .message-body p {
      font-size: 20px;
      margin: 10px 0px;
      padding: 0px; }
