body {
  margin: 0px auto;
  min-width: 980px;
  padding-top: 30px;
  background-color: #f5ac3a; }

p {
  margin: 0 0 20px 0;
  line-height: 26px; }

h1, h2, h3 {
  font-family: 'Press Start 2P', cursive;
  text-transform: uppercase;
  text-align: center;
  color: #fff; }

h1 {
  font-size: 60px;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1); }

h2 {
  font-size: 35px;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1); }

h3 {
  font-size: 28px; }

#nav {
  list-style: none;
  position: fixed;
  right: 20px; }

#nav li {
  margin: 0 0 15px 0; }

#header {
  width: 100%; }

#main {
  background: url(../img/building.png) no-repeat top center;
  height: 5430px;
  padding-top: 560px;
  position: relative; }

.content {
  background: #fff;
  width: 548px;
  padding: 10px;
  margin: 0px auto;
  margin-bottom: 600px;
  background-color: #000; }

.story {
  margin: 0 auto;
  overflow: auto;
  padding: 20px;
  color: #fff;
  font-family: 'Press Start 2P', cursive;
  font-size: 14px;
  border: 1px solid #fff; }

.columns {
  width: 1085px;
  margin: 0 auto; }
  .columns .content {
    width: 515px; }

#windowPanes {
  position: absolute;
  top: 860px;
  left: 50%;
  margin-left: -259px;
  height: 2500px;
  width: 603px; }
  #windowPanes .row {
    height: 90px;
    margin-bottom: 24.5px;
    position: relative; }
    #windowPanes .row .pane {
      height: 100%;
      position: absolute; }
      #windowPanes .row .pane.col0, #windowPanes .row .pane.col1, #windowPanes .row .pane.col2 {
        width: 71px; }
      #windowPanes .row .pane.col3, #windowPanes .row .pane.col4, #windowPanes .row .pane.col5, #windowPanes .row .pane.col6 {
        width: 65px; }
      #windowPanes .row .pane.col0 {
        left: 0;
        top: 12px; }
      #windowPanes .row .pane.col1 {
        left: 91px;
        top: 6px; }
      #windowPanes .row .pane.col2 {
        left: 182px;
        top: 0; }
      #windowPanes .row .pane.col3 {
        right: 249px;
        top: 0; }
      #windowPanes .row .pane.col4 {
        right: 166px;
        top: 4px; }
      #windowPanes .row .pane.col5 {
        right: 83px;
        top: 8px; }
      #windowPanes .row .pane.col6 {
        right: 0;
        top: 12px; }

#paneContents {
  display: none; }

#helloWorld {
  font-family: monospace;
  font-size: 12px;
  text-align: center;
  padding: 20px 0 0 2px; }

#hatWobble {
  width: 100%;
  height: 100%;
  overflow: hidden; }
  #hatWobble img {
    margin-left: -30px; }

.helicopter {
  background-image: url("../img/helicopter.gif");
  width: 67px;
  height: 45px;
  position: absolute; }

#helicopter-0 {
  position: absolute;
  top: 300px;
  right: 50%;
  margin-right: -300px; }
